.tiles {
	margin-top: 3em;
	margin-bottom: 3em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1vw;
}

@media (max-width: 992px) {
	.tiles {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

@media (max-width: 576px) {
	.tiles {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2vw;
	}
}

.tiles a {
	max-width: 100%;
	overflow: hidden;
	border-radius: 10px;
	display: block;
}

.tiles a>img {
	display: block;
	width: 100%;
	transition: all .3s linear 0s;
}

.tiles a>img:hover {
	transform: scale(1.02);
	filter: brightness(80%);
	will-change: transform;
}
