.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000000AA;
	margin: 0;
	/*opacity: 0.6;*/
	backdrop-filter: blur(4px);
}

.modal-background.active {
	display: block;
}

.modal-container {
	height: 100%;
	display: flex;
	align-items: center;
	position:relative;
}

.modal {
	height: 75%;
	background-color: white;
	opacity: 1;
	backdrop-filter: none;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
}

.modal-close {
	display: inline-block;
	font-weight: 400;
	font-size: 3rem;
	line-height: 3rem;
	cursor: pointer;
	margin: 0;
}

.modal-close.modal-close-desktop {
	position: absolute;
	background-color: transparent;
	color: white;
	bottom: 87.5%;
	right: 0.75rem;
}

.modal-close.modal-close-mobile {
	position: fixed;
	color: var(--link-color-default);
	background-color: var(--appbar-mobile-background-color);
	padding: 0.1rem 0.26em 0.35rem;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1500;
	display: none;
}

@media (max-width: 576px) {
	.modal-background {
		top: 3.5rem;
	}
	.modal-container {
		padding: 0;
		margin: 0;
		width: 100%;
		position: static;
	}
	.modal {
		height: 100%;
	}
	.modal-close.modal-close-desktop {
		display: none;
	}
	.modal-background.active + .modal-close.modal-close-mobile {
		display: block;
	}
	.yadc-container {
		border: none !important;
	}
}
