<section class="banners">
<div class="container">
  <a href="#">
    <div>
      <h5>ИБП для котлов отопления</h5>
      До 24-х часов автономной работы
	</div>
    <img style="overflow: hidden;" src="theme/img/banner/500-100-01.png" alt="">
  </a>
</div>
</section>
