            <a href="#" id="catalog-btn" class="catalog-btn"><i class="powericon-menu"></i><i class="powericon-close"></i><span>&nbsp;Каталог</span></a>
            <ul class="catalog">
              <li class="sm-multilevel">
                <a href="#">Однофазные стабилизаторы</a>
                <div class="sm-multicolumn">
                  <div class="sm-column">
                    <div class="sm-groupname">Ресанта</div>
                    <ul>
                      <li><a href="cat.php?cat=resanta-ach">Ресанта АСН</a></li>
                      <li><a href="cat.php?cat=resanta-lux">Ресанта LUX</a></li>
                    </ul>
                    <div class="sm-groupname">Энергия</div>
                    <ul>
                      <li><a href="cat.php?cat=snvt">Энергия Hybrid</a></li>
                      <li><a href="cat.php?cat=voltron">Энергия Voltron</a></li>
                      <li><a href="cat.php?cat=ach">Энергия ACH</a></li>
                      <li><a href="cat.php?cat=classic-ultra">Classic/Ultra/Premium</a></li>
                      <li><a href="cat.php?cat=lux">Энергия Люкс</a></li>
                    </ul>
                  </div>
                  <div class="sm-column">
                    <div class="sm-groupname">Штиль</div>
                    <ul>
                      <li><a href="cat.php?cat=instab">Штиль ИнСтаб IS</a></li>
                      <li><a href="cat.php?cat=instab-tr">Штиль ИнСтаб TR</a></li>
                    </ul>
                    <div class="sm-groupname">Вольт Engineering</div>
                    <ul>
                      <li><a href="cat.php?cat=gibrid">Вольт Engineering Гибрид</a></li>
                      <li><a href="cat.php?cat=amper">Вольт Engineering Ампер</a></li>
                    </ul>
                    <div class="sm-groupname">Rucelf</div>
                    <ul>
                      <li><a href="cat.php?cat=rucelf-sd">Rucelf SDF/SDV/SDW</a></li>
                      <li><a href="cat.php?cat=rucelf-sr">Rucelf SRF/SRW</a></li>
                      <li><a href="cat.php?cat=star">Rucelf СтАР</a></li>
                    </ul>
                  </div>
                  <div class="sm-column">
                    <a class="sm-groupname" href="#">По назначению</a>
                    <ul>
                      <li><a href="#">Для газовых котлов</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="sm-multilevel">
                <a href="#">Трехфазные стабилизаторы</a>
                <ul>
                  <li><a href="cat.php?cat=resanta-3">Ресанта АСН/3</a></li>
                  <li><a href="cat.php?cat=snvt-3">Энергия Hybrid/3</a></li>
                  <li><a href="cat.php?cat=sdv-3">Rucelf SDV-3</a></li>
                  <li><a href="cat.php?cat=volt-3">Вольт Engineeering</a></li>
                </ul>
              </li>
              <li><a href="#">ИБП</a></li>
              <li><a href="#">Монтаж и защита</a></li>
              <li><a href="#">Товары для дома</a></li>
            </ul>