<footer>
  <div class="container">
    <div class="contacts">
      <div>
        <i class="icon powericon-mail"></i>
        <div>
          Наша почта
          <a href="mailto:<TMPL_VAR NAME='EMAIL'>"><TMPL_VAR NAME="EMAIL"></a>
        </div>
      </div>
      <div>
        <i class="icon powericon-phone"></i>
        <div class="">
          Телефон
          <a href="tel:<TMPL_VAR NAME='PHONE'>">8&nbsp;<TMPL_VAR NAME='PHONE_CODE'>&nbsp;<TMPL_VAR NAME='PHONE_NUM'></a>
        </div>
      </div>
      <TMPL_IF NAME="CITY">
      <div>
        <i class="icon powericon-home"></i>
        <div class="">
          <TMPL_VAR NAME="CITY">
          <div><TMPL_VAR NAME="ADDRESS"></div>
        </div>
      </div>
      </TMPL_IF>
      <div>
        <i class="icon powericon-clock"></i>
        <div class="">
          Режим работы
          <div>Круглосуточно</div>
        </div>
      </div>
    </div>
    <div>
      Мы используем файлы cookie, чтобы предоставить пользователям больше возможностей при посещении сайта интернет-магазина.
      Содержание сайта не является рекомендацией или офертой, вся информация носит исключительно ознакомительный характер. Все права защищены.
      <script type="text/javascript">new Image().src = "https://mc.yandex.ru/pixel/6672449664279570808?rnd="+Math.random();</script>
    </div>
  </div>
</footer>
