<link href="/theme/css/pickups.css" rel="stylesheet" media="all" />
<script src="/theme/js/pickups.js" type="text/javascript" charset="utf-8"></script>

<div class="modal-background">
  <div class="container modal-container">
    <div class="modal">
      <div id="yadc"></div>
    </div>
    <div class="modal-close modal-close-desktop">&times;</div>
  </div>
</div>
<div class="modal-close modal-close-mobile">&times;</div>
