<!doctype html>
<html lang="ru-RU">
<head>
  <title>Корзина</title>
  <meta name="description" content="Оформление заказа" />
  <meta name="keywords" content="" />
  <TMPL_INCLUDE FILE="_meta.tmpl">
  <link rel="stylesheet" href="/theme/css/cart.css" media="all" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=1d361db1-2796-4a44-80ea-487b93817c0a&lang=ru_RU" type="text/javascript"></script>
  <script src="/theme/js/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/theme/js/cart.js" type="text/javascript"></script>
  <script src="/theme/js/map-calculator.js" type="text/javascript"></script>
</head>
<body>
  <TMPL_INCLUDE FILE="_header.tmpl">

  <div class="container">

    <h1>Оформление заказа</h1>

    <div id="checkoutpage">
      <div id="cartapp">

        <div class="cart">
          <TMPL_LOOP NAME="products">
          <div>
            <div class="pic">
              <TMPL_IF NAME="image_big">
                <a href="product.php?product=<TMPL_VAR NAME='code'>">
                  <img src="products/img/<TMPL_VAR NAME='image_big'>" />
                </a>
              </TMPL_IF>
            </div>
            <div class="product">
              <a href="product.php?product=<TMPL_VAR NAME='code'>">
                <span><TMPL_VAR NAME='category'></span>
                <TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'>
              </a>
            </div>
            <div class="price">
              <TMPL_VAR NAME='fprice'>&nbsp;&#8381;
            </div>
            <div class="qty">
              <div class="qtyctrl">
                <div>&minus;</div>
                <input value="<TMPL_VAR NAME='quantity'>">
                <div>+</div>
              </div>
            </div>
            <div class="amount">
              <TMPL_VAR NAME='fprice'>&nbsp;&#8381;
            </div>
            <div class="trash">
              <a href="/remove.php?product=<TMPL_VAR NAME='code'>"><i class="powericon-trash"></i></a>
            </div>
          </div>
          </TMPL_LOOP>

          <div class="delivery">
            <div class="pic"></div>
            <div class="product">
              <span>Доставка</span>
              В пункт выдачи
              <a href="#" class="address">Выберите пункт выдачи&nbsp;<i class="powericon-exclamation_sign"></i></a>
            </div>
            <div class="price"></div>
            <div class="qty"></div>
            <div class="amount">Бесплатно</div>
            <div class="trash"></div>
          </div>

          <div class="summary">
            <div class="pic"></div>
            <div class="product"></div>
            <div class="price"></div>
            <div class="qty">Итого:</div>
            <div class="amount">500&nbsp;&#8381;</div>
            <div class="trash"></div>
          </div>

        </div>
      
      </div>
      <div id="sidebar">
        <div>
          <i class="icon powericon-shield"></i>
          <b>Безопасная оплата</b>
          Ваши платежи под надежной защитой
        </div>
        <div>
          <i class="icon powericon-refresh"></i>
          <b>Легкий возврат</b>
          В случае чего без проблем вернем деньги
        </div>
        <div>
          <i class="icon powericon-help"></i>
          <b>Нужна помощь?</b>
          8&nbsp;(<TMPL_VAR NAME='PHONE_CODE'>)&nbsp;<TMPL_VAR NAME='PHONE_NUM'>
        </div>
      </div>
    </div>

  </div>

  <TMPL_INCLUDE FILE="_footer.tmpl">
</body>
</html>