<!doctype html>
<html lang="ru-RU">
<head>
  <title>Корзина</title>
  <meta name="description" content="Оформление заказа" />
  <meta name="keywords" content="" />
  <TMPL_INCLUDE FILE="_meta.tmpl">
  <link rel="stylesheet" href="/theme/css/cart.css" media="all" />
  <script src="/theme/js/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/theme/js/lib/vue/vue.js" type="text/javascript"></script>
  <script src="//api-maps.yandex.ru/2.1/?apikey=1d361db1-2796-4a44-80ea-487b93817c0a&lang=ru_RU" type="text/javascript"></script>
  <script src="//cdn.yadc-js.ru/yadc.js" type="text/javascript" charset="utf-8"></script>
  <script src="/theme/js/map-calculator.js" type="text/javascript"></script>
  <script src="/theme/js/lib/vue-input-numeric/vue-input-numeric.min.js" type="text/javascript"></script>
  <script src="/theme/js/lib/vue-input-address/vue-input-address.min.js" type="text/javascript"></script>
  <link href="/theme/css/idm.css" rel="stylesheet" media="all" />
  <script src="/theme/js/idm.js" type="text/javascript"></script>
  <script src="/theme/js/cart.js" type="text/javascript"></script>
</head>
<body>
  <TMPL_INCLUDE FILE="_header.tmpl">

  <div class="container">

    <h1>Оформление заказа</h1>

    <div id="checkoutpage">
      <div id="cartapp"></div>
      <div id="sidebar">
        <div>
          <i class="icon powericon-shield"></i>
          <b>Безопасная оплата</b>
          Ваши платежи под надежной защитой
        </div>
        <div>
          <i class="icon powericon-refresh"></i>
          <b>Легкий возврат</b>
          В случае чего без проблем вернем деньги
        </div>
        <div>
          <i class="icon powericon-help"></i>
          <b>Нужна помощь?</b>
          8&nbsp;(<TMPL_VAR NAME='PHONE_CODE'>)&nbsp;<TMPL_VAR NAME='PHONE_NUM'>
        </div>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    CART = [
      <TMPL_IF NAME="products">
      <TMPL_LOOP NAME="products">
        {
           code: "<TMPL_VAR NAME='code'>",
           quantity: <TMPL_VAR NAME='quantity'>,
           category: "<TMPL_VAR NAME='category'>",
           trademark: "<TMPL_VAR NAME='trademark'>",
           model: "<TMPL_VAR NAME='model'>",
           price: <TMPL_VAR NAME='price'>,
           image_big: "<TMPL_VAR NAME='image_big'>",
        },
      </TMPL_LOOP>
      </TMPL_IF>
    ];
    DELIVERY_PRICE = <TMPL_VAR NAME='DELIVERY_PRICE'>;
    DELIVERY_FREE_LIMIT = <TMPL_VAR NAME='DELIVERY_FREE_LIMIT'>;
    DELIVERY_EXTRA_PAY = <TMPL_VAR NAME='DELIVERY_EXTRA_PAY'>;
  </script>

  <script type="x-template" id="cartapp-template">
    <div id="cartapp">
      <div class="cart">

        <div v-for="(product, index) in products" :key="product.code" >
          <div class="pic">
              <a v-bind:href="'product.php?product=' + product.code" v-if="product.image_big">
                <img v-bind:src="'products/img/' + product.image_big" />
              </a>
          </div>
          <div class="product">
            <a v-bind:href="'product.php?product=' + product.code">
              <span>{{product.category}}</span>
              {{product.trademark}} {{product.model}}
            </a>
          </div>
          <div class="price">
            {{product.price|currency}}&nbsp;&#8381;
          </div>
          <div class="qty">
            <vue-input-numeric v-model="product.quantity" v-on:input="onProductQuantityChange(product)"/>
          </div>
          <div class="amount">
            {{getProductSum(product)|currency}}&nbsp;&#8381;
          </div>
          <div class="trash">
            <a v-on:click.prevent="onDeleteProductClick(product)" v-bind:href="'/remove.php?product=' + product.code"><i class="powericon-trash"></i></a>
          </div>
        </div>

        <div class="delivery">
          <div class="pic"></div>
          <div class="product">
            <span v-if="delivery == DELIVERY_COURIER">Доставка по адресу <template v-if="delivery_location > 0">({{suburbDistance}}&nbsp;км)</template></span>
            <span v-if="delivery == DELIVERY_PICKUP">Доставка в пункт выдачи</span>
            <a v-if="delivery == DELIVERY_PICKUP" href="#" class="address">Выберите пункт выдачи&nbsp;<i class="powericon-exclamation_sign"></i></a>
            <a v-if="delivery == DELIVERY_COURIER && !address" href="#" class="address" v-on:click.prevent="$refs.addrinput.focus()">Укажите адрес доставки&nbsp;<i class="powericon-exclamation_sign"></i></a>
            <a v-if="delivery == DELIVERY_COURIER && address" v-on:click.prevent="showDeliveryMap" href="#" class="address">{{address}}</a>
          </div>
          <div class="price"></div>
          <div class="qty"></div>
          <div class="amount">
            <div v-if="calculating"><i class="powericon-spinner powericon-pulse"></i></div>
            <template v-else-if="delivery_location === undefined"></template>
            <template v-else-if="delivery_location < 0">Нет доставки</template>
            <template v-else-if="deliveryCost == 0">Бесплатно</template>
            <template v-else>{{deliveryCost|currency}}&nbsp;&#8381;</template>
          </div>
          <div class="trash"></div>
        </div>

        <div class="summary">
          <div class="pic"></div>
          <div class="product"></div>
          <div class="price"></div>
          <div class="qty">Итого:</div>
          <div class="amount">{{totalCost|currency}}&nbsp;&#8381;</div>
          <div class="trash"></div>
        </div>
      </div>

      <!-- <h2>Получение</h2> -->
      <div class="form">
        <div class="form-row">
          <label>Получение</label>
          <div class="btn-group">
            <div v-bind:class="{active: delivery == DELIVERY_COURIER}" v-on:click="delivery = DELIVERY_COURIER">Доставка</div>
            <div v-bind:class="{active: delivery == DELIVERY_PICKUP}" v-on:click="delivery = DELIVERY_PICKUP">Пункт выдачи</div>
          </div>
        </div>
        <div v-if="delivery == DELIVERY_COURIER" class="form-row">
          <label>Адрес</label>
          <div class="input-btn">
            <vue-input-address v-model="address" ref="addrinput" v-on:blur="calcDelivery" v-on:suggestSelect="calcDelivery" />
            <div v-on:click="calcDelivery">
              <i v-if="calculating" class="powericon-spinner powericon-pulse"></i>
              <i v-else class="powericon-calc"></i>
            </div>
          </div>
        </div>
        <div v-if="delivery == DELIVERY_PICKUP" class="form-row">
          <label>Пункт выдачи</label>
          <div><a v-on:click.prevent="onChoosePickupClick" href="#pickups" class="dotted" style="margin: 0.64em 0">Выберите пункт выдачи</a>&nbsp;<sup><i class="powericon-exclamation_sign"></i></sup></div>
        </div>
        <div class="form-row">
          <label>Получатель</label>
          <input type="text">
        </div>
        <div v-if="payer == PAYER_INDIVIDUAL && pay == PAY_BILL" class="form-row">
          <label>Прописка</label>
          <input type="text">
        </div>
        <div class="form-row col-2">
          <label>Телефон</label>
          <input type="text">
          <label>e-mail</label>
          <input v-if="pay == PAY_BILL" type="text">
          <input v-else placeholder="(Необязательно)" type="text">
        </div>
        <div class="form-row col-2">
          <label>Оплата</label>
          <div class="btn-group">
            <div v-bind:class="{active: pay == PAY_CASH}" v-on:click="pay = PAY_CASH">Наличные</div>
            <div v-bind:class="{active: pay == PAY_CARD}" v-on:click="pay = PAY_CARD">Карта</div>
            <div v-bind:class="{active: pay == PAY_BILL}" v-on:click="pay = PAY_BILL">Счёт</div>
          </div>
          <label>Плательщик</label>
          <div class="btn-group">
            <div v-bind:class="{active: payer == PAYER_INDIVIDUAL}" v-on:click="payer = PAYER_INDIVIDUAL">Физ.лицо</div>
            <div v-bind:class="{active: payer == PAYER_LEGAL}" v-on:click="payer = PAYER_LEGAL">Юр.лицо</div>
          </div>
        </div>
        <div v-if="payer == PAYER_LEGAL" class="form-row">
          <label>Плательщик</label>
          <input type="text">
        </div>
        <div v-if="payer == PAYER_LEGAL" class="form-row">
          <label>Юр.адрес</label>
          <input type="text">
        </div>
        <div v-if="payer == PAYER_LEGAL" class="form-row col-2">
          <label>ИНН</label>
          <input type="text">
          <label>КПП</label>
          <input type="text">
        </div>
        <div v-if="payer == PAYER_LEGAL" class="form-row col-2">
          <label>Р/сч</label>
          <input type="text">
          <label>Корр/сч</label>
          <input type="text">
        </div>
        <div v-if="payer == PAYER_LEGAL" class="form-row col-2">
          <label>Банк</label>
          <input type="text">
          <label>БИК</label>
          <input type="text">
        </div>
        <div class="form-row">
          <label>Комментарии</label>
          <textarea rows="3"></textarea>
        </div>
        <div class="controls">
          <input type="submit" value="Подтвердить заказ" class="btn yellow">
        </div>
      </div>

    </div>
  </script>

  <TMPL_INCLUDE FILE="_footer.tmpl">
</body>
</html>