<!doctype html>
<html lang="ru-RU">
<head>
  <title><TMPL_IF NAME="SITE_NAME"><TMPL_VAR NAME="SITE_NAME"><TMPL_ELSE><TMPL_VAR NAME="HTTP_HOST"></TMPL_IF> - Интернет-магазин</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <TMPL_INCLUDE FILE="_meta.tmpl">
  <link rel="stylesheet" href="/theme/css/index.css" media="all" />
  <link rel="stylesheet" href="/theme/css/banner.css" media="all" />
</head>
<body>
  <TMPL_INCLUDE FILE="_header.tmpl">

  <div class="container">

    <h1>Плитки</h1>
    <div class="tiles">
      <a href="#">
        <img src="/theme/img/tile-01.jpg">
      </a>
      <a href="#">
        <img src="/theme/img/tile-02.jpg">
      </a>
      <a href="#">
        <img src="/theme/img/tile-01.jpg">
      </a>
      <a href="#">
        <img src="/theme/img/tile-02.jpg">
      </a>
    </div>

    <h1>Лучшие предложения</h1>
    <div class="items-list">
      <TMPL_IF NAME='products'>
        <TMPL_LOOP NAME='products'>
          <TMPL_IF NAME="bestseller">
            <TMPL_INCLUDE FILE="_item.tmpl" MODE="INLINE">
          </TMPL_IF>
        </TMPL_LOOP>
      </TMPL_IF>
    </div>

  </div>

  <TMPL_INCLUDE FILE="_footer.tmpl">
</body>
</html>