<!doctype html>
<html lang="ru-RU">
<head>
  <title><TMPL_VAR NAME='title'></title>
  <meta name="description" content="<TMPL_VAR NAME="description">" />
  <meta name="keywords" content="<TMPL_VAR NAME="keywords">" />
  <TMPL_INCLUDE FILE="_meta.tmpl">
</head>
<body>
  <TMPL_INCLUDE FILE="_header.tmpl">

  <div class="container">

    <TMPL_VAR NAME='html'>

  </div>

  <TMPL_INCLUDE FILE="_footer.tmpl">
</body>
</html>