<!doctype html>
<html lang="ru-RU">
<head>
  <title><TMPL_VAR NAME='category'> <TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'></title>
  <meta name="description" content="<TMPL_VAR NAME='category'> <TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'>" />
  <meta name="keywords" content="<TMPL_VAR NAME='category'> <TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'>" />
  <TMPL_INCLUDE FILE="_meta.tmpl">
  <link rel="stylesheet" href="/theme/css/product.css?v0.01" media="all" />
  <script src="/theme/js/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/theme/js/lib/swipe/swipe.js" type="text/javascript"></script>
  <script src="/theme/js/lib/fancybox/fancybox.umd.js" type="text/javascript"></script>
  <link href="/theme/js/lib/fancybox/fancybox.css" rel="stylesheet" media="all" />
  <script src="/theme/js/lib/autocomplete/autocomplete.js" type="text/javascript"></script>
  <link href="/theme/js/lib/autocomplete/autocomplete.css" rel="stylesheet" media="all" />
  <script src="/theme/js/product.js" type="text/javascript"></script>
  <script src="//api-maps.yandex.ru/2.1/?apikey=1d361db1-2796-4a44-80ea-487b93817c0a&lang=ru_RU" type="text/javascript"></script>
  <script src="//cdn.yadc-js.ru/yadc.js" type="text/javascript" charset="utf-8"></script>
  <link href="/theme/css/idm.css" rel="stylesheet" media="all" />
  <script src="/theme/js/idm.js?v0.1" type="text/javascript"></script>
  <script src="/theme/js/utils.js" type="text/javascript"></script>

</head>
<body>
  <TMPL_INCLUDE FILE="_header.tmpl">

  <div class="container">

    <ul class="breadcrumb" itemscope="http://schema.org/BreadcrumbList">
      <li itemscope itemtype="http://schema.org/ListItem">
        <a href="/">Каталог</a>
      </li>
      <li itemscope itemtype="http://schema.org/ListItem">
        <a href="/"><TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'></a>
      </li>
    </ul>

    <h1><TMPL_VAR NAME='trademark'> <TMPL_VAR NAME='model'></h1>

    <div class="product">
      <div class="gallery">
        <a href="products/img/<TMPL_VAR NAME='image_big'>" class="card active"><img src="products/img/<TMPL_VAR NAME='image_big'>"></a>
        <TMPL_IF NAME="image_big_2">
          <a href="products/img/<TMPL_VAR NAME='image_big_2'>" class="card"><img src="products/img/<TMPL_VAR NAME='image_big_2'>"></a>
        </TMPL_IF>
        <TMPL_IF NAME="image_big_3">
          <a href="products/img/<TMPL_VAR NAME='image_big_3'>" class="card"><img src="products/img/<TMPL_VAR NAME='image_big_3'>"></a>
        </TMPL_IF>
        <TMPL_IF NAME="image_big_4">
          <a href="products/img/<TMPL_VAR NAME='image_big_4'>" class="card"><img src="products/img/<TMPL_VAR NAME='image_big_4'>"></a>
        </TMPL_IF>
        <TMPL_IF NAME="image_big_5">
          <a href="products/img/<TMPL_VAR NAME='image_big_5'>" class="card"><img src="products/img/<TMPL_VAR NAME='image_big_5'>"></a>
        </TMPL_IF>
        <!-- <TMPL_IF NAME="image_big_6">
          <a href="products/img/<TMPL_VAR NAME='image_big_6'>" class="card"><img src="products/img/<TMPL_VAR NAME='image_big_6'>"></a>
        </TMPL_IF> -->
      </div>
      <div class="photo" id="slider">
        <ul style="padding: 0;">
          <li style=""><img src="products/img/<TMPL_VAR NAME='image_big'>" data-fancybox="gallery"></li>
          <TMPL_IF NAME="image_big_2"><li style="display: none;"><img src="products/img/<TMPL_VAR NAME='image_big_2'>" data-fancybox="gallery"></li></TMPL_IF>
          <TMPL_IF NAME="image_big_3"><li style="display: none;"><img src="products/img/<TMPL_VAR NAME='image_big_3'>" data-fancybox="gallery"></li></TMPL_IF>
          <TMPL_IF NAME="image_big_4"><li style="display: none;"><img src="products/img/<TMPL_VAR NAME='image_big_4'>" data-fancybox="gallery"></li></TMPL_IF>
          <TMPL_IF NAME="image_big_5"><li style="display: none;"><img src="products/img/<TMPL_VAR NAME='image_big_5'>" data-fancybox="gallery"></li></TMPL_IF>
          <!-- <TMPL_IF NAME="image_big_6"><li style="display: none;"><img src="products/img/<TMPL_VAR NAME='image_big_6'>"></li></TMPL_IF> -->
        </il>
      </div>
      <div class="controls">
        <div class="brief_desc">
          <TMPL_VAR NAME="description">.<br>
          <a href="#pages" id="detailed-descr" class="dotted">Подробнее...</a>
        </div>
        <div class="brief_sheet">
          <ul class="toc">
          <TMPL_LOOP NAME='characteristics'>
            <li><span><TMPL_VAR NAME='name'></span> <span><TMPL_VAR NAME='value'></span></li>
          </TMPL_LOOP>
            <li class="normal"><a href="#pages" id="detailed-chars" class="dotted">Все характеристики</a></li>
          </ul>
        </div>
        <div class="price-and-buy">
          <div class="price">
            <TMPL_VAR NAME="fprice">&nbsp;&#8381;
          </div>
          <div class="buy">
            <a href="/buy.php?product=<TMPL_VAR NAME="code">" class="btn yellow">Купить</a>
          </div>
        </div>       
        <div class="city">
          <div>Ваш город:</div>
          <div>
            <i class="powericon-spinner powericon-pulse" id="city-spinner"></i>
            <a href="#" class="dotted" id="city"></a>
            <div class="autocomplete" style="display: none;">
              <input id="city_input" type="search" spellcheck="false" placeholder="Город">
            </div>
          </div>
        </div>
        <div class="delivery">
          <div>
            <div>В пунктах выдачи:</div>
            <div><i class="powericon-spinner powericon-pulse" id="pickup-spinner"></i> <div id="pickup"><span id="pickup_term"></span> - <span id="pickup_price"></span> (<a href="#pickups" id="pickup-points" class="dotted"></a>)</div></div>
            <!-- <div>Оплата при получении</div> -->
          </div>
          <div>
            <div>Доставка на дом:</div>
            <div><div id="delivery"><span id="delivery_term"></span> - <span id="delivery_price"></span></div> <i class="powericon-spinner powericon-pulse" id="delivery-spinner"></i></div>
            <!-- <div>Оплата при получении</div> -->
          </div>
        </div>
        <div class="">
        </div>
      </div>

      <ul class="tabs scrollable">
        <li page="page_details" class="active"><a href="#">Описание</a></li>
        <li page="page_char"><a href="#">Характеристики</a></li>
        <li page="page_reviews"><a href="#">Отзывы&nbsp;<span>0</span></a></li>
        <a id="pages" name="pages"></a>
      </ul>

      <div class="pages">
        <div id="page_details">
          <TMPL_VAR NAME='text'>
        </div>
        <div id="page_char">
        </div>
        <div id="page_reviews">
        </div>
      </div>

    </div>
  </div>

  <TMPL_INCLUDE FILE="_footer.tmpl">

  <script type="text/javascript">
    product_price = <TMPL_VAR NAME="price">;
    cargo = {
      id: "<TMPL_VAR NAME="code">",
      count: 1,
      <TMPL_IF NAME="price">price: <TMPL_VAR NAME="price">,</TMPL_IF>
      <TMPL_IF NAME="weight">weight: <TMPL_VAR NAME="weight">,</TMPL_IF>
      <TMPL_IF NAME="volume">volume: <TMPL_VAR NAME="volume">,</TMPL_IF>
    };
    DELIVERY_PRICE = <TMPL_VAR NAME="DELIVERY_PRICE">;
    DELIVERY_FREE_LIMIT = <TMPL_VAR NAME="DELIVERY_FREE_LIMIT">;
    DELIVERY_EXTRA_PAY = <TMPL_VAR NAME="DELIVERY_EXTRA_PAY">;
  </script>

</body>
</html>